@media screen and (max-width:1200px){
    header section{width: 100%;}
    #catalogo section{width:100%;}
    #catalogo section article{width: 49%; height:350px;}
    #catalogo section article img{height:300px;}
}
@media screen and (max-width:800px){
    header section h1{text-align: center;margin-bottom: 10px}
    header section #menu{width:100%;margin:0;text-align: center;}
    header section #menu a{display:inline-block;border: 1px solid #666;}
    #catalogo section article{width: 80%; height:auto;}
    #catalogo section article img{height:300px;}
}

@media screen and (max-width: 500px){
    #inicio section h2{ font-size:20px; }
    #inicio section p{ font-size:10px; }
    #inicio section a{padding: 10px 20px 10px 10px; }
}